/**
 * Created by Inverted Hell Workshop Death Crew on a cold and dreary day.
 */

body {

}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}




.bgvid{
    position:absolute;
    left:0;
    top:0;
    width:100vw;
}
.inner-container{
    width:400px;
    height:400px;
    position:absolute;
    top:calc(50vh - 200px);
    left:calc(50vw - 200px);
    overflow:hidden;
}

.box{
    position:absolute;
    height:100%;
    width:100%;
    font-family:Helvetica;
    color:#fff;

    padding:30px 0px;
}
.box h1{
    text-align:center;
    margin:30px 0;
    font-size:30px;
}
.box input{
    display:block;
    width:230px;
    margin:20px auto;
    padding:15px;
    background: rgba(0, 0, 0, 0.58);
    color:#fff;
    border:0;
}
#boxcontainer{
    margin-top:-20px;
    width:400px;
    height:400px;
    background: rgba(0, 0, 0, 0.58);
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
}
.box button{
    background:#2ecc71;
    border:0;
    color:#fff;
    padding:10px;
    font-size:20px;
    width:180px;
    margin:20px auto;
    display:block;
    cursor:pointer;
}
.box button:active{
    background:#27ae60;
}
.box p{
    font-size:14px;
    text-align:center;
}
.box p span{
    cursor:pointer;
    color:#666;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}


